In [1]:
lst='Supercalifragilisticexpialidocious'
print(len(lst))

34

In [2]:
'ice' in lst

True

In [3]:
lst1=['Supercalifragilisticexpialidocious', 'Honorificabilitudinitatibus','Bababadalgharaghtakamminarronnkonn']
max(len(lst1[0]),len(lst1[1]),len(lst1[2]))

34

In [4]:
lst1.sort()

In [12]:

len(lst1[2])

34

In [21]:
lst2=['Berlioz', 'Borodin', 'Brian','Bartok', 'Bellini', 'Buxtehude', 'Bernstein']
lst2.sort()
print(lst2)

['Bartok', 'Bellini', 'Berlioz', 'Bernstein', 'Borodin', 'Brian', 'Buxtehude']

In [34]:
def  inside(x,y,x1,y1,x2,y2):
    if   x2 >= x >= x1 and  y2 >= y >= y1:
        return True
    return False

In [35]:
inside(1,1,0,0,2,3)

True

In [36]:
inside(-1,-1,0,0,2,3)

False

In [37]:
inside(1,1,0.3,0.5,1.1,0.7)

False

In [38]:
inside(1,1,0.5,0.2,1.1,2)

True

In [124]:
def pig(word):
    word=word.lower()
    vowel=['a','i','o','e','u']
    if word[0] in vowel:
        word+='way'
        print(word)
    else:
        first=word[0]
        print(word[1:]+first+'ay')

In [140]:
pig('HaPPy')

appyhay

In [149]:
def bldcount(name):
    infile = open(name, 'r')
    type=infile.read()
    infile.close()
    type=type.split()
    ab=0
    a=0
    b=0
    o=0
    oo=0
    for i in range(len(type)):
        if 'AB' in type[i]:
            ab=ab+1
        elif 'B' in type[i]:
            b+=1
        elif 'A' in type[i]:
            a+=1
        elif 'O' in type[i]:
            o+=1
        else:
            oo+=1
    print("There are "+str(a)+" patients of bloodtype A")
    print("There are "+str(b)+" patients of bloodtype B")
    print("There are "+str(ab)+" patients of bloodtype AB")
    print("There are "+str(o)+" patients of bloodtype O")
    print("There are "+str(oo)+" patients of bloodtype OO")

In [150]:
bldcount('bloodtype.txt')

There are 15 patients of bloodtype A
There are 1 patients of bloodtype B
There are 13 patients of bloodtype AB
There are 15 patients of bloodtype O
There are 0 patients of bloodtype OO

In [ ]:
a=10
print(a)

In [11]:
def wordcount(text):
    textlist=text.split()
    wordc={}
    for word in textlist:
        if word in wordc:
            wordc[word]+=1
        else:
            wordc[word]=1
   
    for word in wordc:
        if wordc[word]==1:
            print('{:8} apears {} time'.format(word,wordc[word]))
        if wordc[word]>1:
            print('{:8} apears {} times'.format(word,wordc[word]))

In [12]:
wordcount('a mmango an apple a mercedes an audi')

a        apears 2 times
mmango   apears 1 time
an       apears 2 times
apple    apears 1 time
mercedes apears 1 time
audi     apears 1 time

In [89]:
def game(r,c):
    import random
    p=random.randrange(0,r)
    l=random.randrange(0,c)
    jpeg =[[0]*r]*c+
    while True:
        x=int(input("enter points of guess (format:x y) : "))
        y=x.split()
        if r==x and c==y:
            print('you found the bomb')
            break
        else:
            print('try again')
            continue

In [88]:
game(2,2)

enter x axis : 2
enter y axis : 2
you found the bomb

In [142]:
def game1(r,c):
    import random
    table=[[0]*(r-1)]*c+[1]
    random.shuffle(table)
    p=random.randrange(0,r)
    l=random.randrange(0,c)
    print(p)
    print(l)
    print(table[1][1])

In [144]:
game1(5,5)

3
2
0

In [355]:
def curcon(name,ammount):
    infile=open('currencies.txt','r')
    list=infile.readlines()
    #list2=list.split()
    infile.close()
    table={}
    table2={}
    for i in range(len(list)):
        list2=list[i]  
        for j in range(2):#   table2={list[i][:3]:[list[i][4:13],list[i][14:]]}
             if '\t' in list2:#  print(table2)
                p=list2.find('\t')
                str=list[i][:p]
                list2=list2.replace(str,' ')
                print(p)
                print(str)
                print(list2)
        continue
    #return list

In [356]:
curcon(2,2)

3
AUD
 	1.0345157	Australian Dollar

1
A
 	1.0345157	 ustralian Dollar

3
CHF
 	1.0237414	Swiss Franc

1
C
 	1.0237414	Swiss Franc

3
CNY
 	0.1550176	Chinese Yuan

1
C
 	0.1550176	 hinese Yuan

3
DKK
 	0.1651442	Danish Krone

1
D
 	0.1651442	 anish Krone

3
EUR
 	1.2296544	Euro

1
E
 	1.2296544	 uro

3
GBP
 	1.5550989	British Pound

1
G
 	1.5550989	British Pound

3
HKD
 	0.1270207	Hong Kong Dollar

1
H
 	0.1270207	 ong Kong Dollar

3
INR
 	0.0177643	Indian Rupee

1
I
 	0.0177643	 ndian Rupee

3
JPY
 	0.01241401	Japanese Yen

1
J
 	0.01241401	 apanese Yen

3
MXN
 	0.0751848	Mexican Peso

1
M
 	0.0751848	 exican Peso

3
MYR
 	0.3145411	Malaysian Ringgit

1
M
 	0.3145411	 alaysian Ringgit

3
NOK
 	0.1677063	Norwegian Krone

1
N
 	0.1677063	 orwegian Krone

3
NZD
 	0.8003591	New Zealand Dollar

1
N
 	0.8003591	 ew Zealand Dollar

3
PHP
 	0.0233234	Philippine Peso

1
P
 	0.0233234	 hilippine  eso

3
SEK
 	0.148269	Swedish Krona

1
S
 	0.148269	 wedish Krona

3
SGD
 	0.788871	Singapore Dollar

1
S
 	0.788871	 ingapore Dollar

3
THB
 	0.0313789	Thai Baht
1
T
 	0.0313789	 hai Baht

In [423]:
def curcon2(name,amount):
    infile=open('currencies.txt','r')
    list=infile.readlines()
    #list2=list.split()
    infile.close()
    table={}
    table2={}
    for i in range(len(list)):
        list2=list[i].split()
        table2={list2[0]:list2[1:]}
        table.update(table2)    
    value=table[name][0]
    value=eval(value)
    print('Value in USD is '+str(value*amount))

In [424]:
curcon2('DKK',22)

Value in USD is 3.6331724

In [441]:
def frequencies(str):
    str=str.lower()
    list={}
    defined='abcdefghijklmnopqrstuvwxyz'
    for char in str:
        if char in defined:
            if char in list:
                list[char]+=1
            else:
                list[char]=1
    print(list)

In [442]:
frequencies('dfbniodfkbab a nbaejthjaertoba jle boae bj rt bje oha eptrba ol; kbp ehpba')

{'d': 2, 'f': 2, 'b': 11, 'n': 2, 'i': 1, 'o': 5, 'k': 2, 'a': 9, 'e': 7, 'j': 5, 't': 4, 'h': 3, 'r': 3, 'l': 2, 'p': 3}

In [484]:
def sieve(till):
    L=[]
    primeL=[]
    for i in range(2,till+1):
        L.append(i)
    for j in range(2,till+1):
        primeL.append(j)
        for k in range(2,till+1):
            if L[k]%primeL[j]==0:
                L.pop(j)
                print(L)
        return primeL

In [485]:
sieve(33)

IndexError: list index out of range

In [491]:
def triangleArea(a,b,c):
    import math
    s=(a+b+c)/2
    area=math.sqrt(s*(s-a)*(s-b)*(s-c))
    print('area of the triangle is '+str(area))

In [493]:
triangleArea(2,2,2)

area of the triangle is 1.7320508075688772